# Environment Configuration
.env

# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# ngrok tunnel file
config/tunnel.pid

# next build output
.next/
dist/

# Docker Persistent Data
database.env
data/postgres
data/redis/*
!data/redis/redis.conf
data/traefik
app/app_proxy/*

NOTES.md
CHANGES.md
/app/server/config/