{% if customer%}
<button>CLick me {{ customer.id }}</button>
<div>
 <p>Orders</p>
 <ul>
  {% for order in customer.orders %}
    {% for line_item in order.line_items %}
      {% if line_item.selling_plan_allocation %}
        <li>{{ order.id }} ()</li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
</div>
<div class="subscription-contracts"></div>
</div>
{% else %}
<p>Please login to continue.</p>
{% endif %}

<script>
console.log('CUSTOMER', '{{ customer }}');
async function postData(url = '', data = {}) {
  const response = await fetch(url, {
    method: 'POST', 
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data) 
  });
  return response.json(); 
}

postData('/apps/app_proxy/', { answer: 42, customerId: {{ customer.id }} })
  .then(data => {
    console.log(data);
  });
</script>